apiVersion: v1
kind: Service
metadata:
  name: dqes
  labels:
    app: dqes
spec:
  selector:
    app: dqes
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dqes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dqes
      version: 'v1'
  template:
    metadata:
      labels:
        app: dqes
        version: 'v1'
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
             nodeSelectorTerms:
             - matchExpressions:
               - key: worker
                 operator: In
                 values: ["xpxlarge"]
      securityContext:
        runAsUser: 0
      containers:
        - name: dqes-app
          image: 533267253658.dkr.ecr.ap-southeast-1.amazonaws.com/dqes:1.0.0-PROD-build-20241107-094041
          envFrom:
            - configMapRef:
                name: mcr-common-env          
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: SPRING_APPLICATION_NAME
              value: dqes
            - name: SPRING_CLOUD_CONSUL_DISCOVERY_SERVICE-NAME
              value: dqes
            - name: SPRING_CLOUD_CONSUL_DISCOVERY_IP_ADDRESS   # Add registry with consul
              value: 'dqes.$(NAMESPACE).svc.cluster.local'
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: java-opt-config
                  key: java_opts
            - name: SERVER_PORT
              value: '8080'
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: APP_NAME
              value: '/dqes/'
          resources:
            requests:
              memory: '1024Mi'
            limits:
              memory: '1024Mi'
          ports:
            - name: http
              containerPort: 8080              
          readinessProbe:
            httpGet:
              path: /management/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 6
            failureThreshold: 3
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /management/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 6
            failureThreshold: 3
            successThreshold: 1
          volumeMounts:
            - name: data-volume-logs
              mountPath: /app/logs/
            - name: data-volume-appdata
              mountPath: /data/appdata
      volumes:
        - name: data-volume-logs
          persistentVolumeClaim:
            claimName: efs-applogs
        - name: data-volume-appdata
          persistentVolumeClaim:
            claimName: efs-appdata                       